header h1{
	font-size: 4.5vw;
  	color: #47525E;
}

header a {
	font-size: 2.5vw;
	margin-left: 10px;
}

header h4 {
	font-size: 2vw;
	margin-left: 1vw;
	margin-right: 1vw;
}

header h5 {
	font-size: 2vw;
	font-weight: 1;
	color: rgb(83, 86, 88);
	margin-left: 1vw;
	margin-right: 1vw;
}

header div.row {
	margin-top: 10px;
}

.submit-button {
	margin-left: auto;
	margin-right: 10px;
}